/* Import google fonts */

@import url(https://fonts.googleapis.com/css2?family=Lora:wght@100,200,300,400,500,600,700&display=swap);

/*---------------------------------GENERAL-----------------------------*/

* {
    margin: 0;
    border: 0;
	padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: "Lora", sans-serif;
	font-weight: 100;
	font-size: 1rem;
	letter-spacing: 2px;
	line-height: 30px;
    color: black;
    height: 100%;
}

h1 {
    color: var(--h1-color);
    padding-bottom: 10px;
    text-align: center;
}

h2 {
    font-size: 1.2rem;
}

/* Sites Colours */

:root {
    --main-bg: #f8f9fa;
    --main-text: black;
    --accent-color: #D5283F;
    --h1-color: #001F7E;
}

.custom-wrapper {
    padding-top: 5rem;    
}

#logo {
    padding: 8px;
}

/* Block dividers */

.block-divider {
    width: 80px;
    height: 5px;
    border: 0;
    margin: 0 auto;
    margin-bottom: 12px;
    background-color:var(--accent-color);
    text-align: center;
}
/*--------------------------------- MEDIA QUERIES -----------------------------*/

/* Mobile Devices */

@media screen and (max-width: 600px){
    #navbar {
    width: 100%;
    }
}

@media screen and (max-width: 600px){
    body {
    width: 100%;
    }
}

/*--------------------------------- BANNER COLLOUT -----------------------------*/

.callout-container {
    height: 80vh;
    background: url('../img/cmp-banner.jpg') no-repeat center center fixed;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom{
    from{transform: scale(1)
    }
    to{transform: scale(1.1)
    }
    }

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.3);
    padding: 15px;
}

.jumbotron h2 {
    color: var(--h1-color);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.jumbotron h3 {
    color: #ffffff;
    text-align: center;
}

.block-divider {
    color: #ffff
}

/*--------------------------------- BANNER COLLOUT QUERIES -----------------------------*/

/* Mobile Devices */

@media screen and (max-width: 600px){
    .callout-container {
    height: 75vh;
    }
    .jumbotron {
        padding: 15px 10px;
        width: 90%;
    }
    .jumbotron h2 {
        font-size: 2rem;
    }
    .jumbotron h3{
        font-size: 1.5rem;
    }
}

/*--------------------------------- ABOUT -----------------------------*/

#about {
    padding-bottom: 30px;
}

h2{
    text-align: center;
    font-style: italic;
    padding-bottom: 20px;
}

p{
    text-align: center;
}

/*--------------------------------- TOURS YOU'VE GOT TO TRY -----------------------------*/

#tours {
    background-color:var(--main-bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 10px;
}

#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
}
#right-about{
    padding-top: 30px;
    width: 33%;
    float: right;
}
#center-about{
    width: 33%;
    margin: 0 auto;
}
hr{
    border-top: 1px solid #777777;
    width: 100%;
    margin: 5px 0;
}
.left-about-heading{
    width: 70%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    font-size: 0.8rem;
}
.right-about-heading{
    width: 70%;
    float: leftt;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    font-size: 0.8rem;
}
.right-about-heading h2{
    text-align: right;
    font-size: 1.2rem;
    }
.left-about-heading h2{
    text-align: left;
    font-size: 1.2rem;
}
.right-about-heading p{
    text-align: right;
}
.left-about-heading p{
    text-align: left;
}
#circle-container{
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;

}
#circle-cover-bg{
    background: url('../img/banner2.jpg')no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

@media (max-width: 640px) 
{
    #circle-container
    {
        display: none;
    }
}

/*--------------------------------- TOURS YOU'VE GOT TO TRY QUERIES -----------------------------*/

/* Mobile Devices */

@media screen and (max-width: 600px){
    #tour{
    width: 85%;
    height: 1200px;
    margin: 0 auto;
    padding: 15px;
    position: relative;
    }
    
    #left-about, #right-about {
    width: 100%;
    padding: 0;
    justify-content: center;
    }

    .left-about-heading, .right-about-heading{
        width: inherit;
        text-align: center;
    }

    .left-about-heading h2, .right-about-heading h2{
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p{
        text-align: center;
        padding: 0 20px 0 20px;
    }
}

/*---------------------------------TOUR PAGE-----------------------------*/

#tour-page {
    background-color:var(--main-bg);
    padding: 3rem;
    margin-top: 2rem;
}

.box1 {
    padding-left: 15px;
    padding-right: 15px;
}

.box2 {
    padding-left: 15px;
    padding-right: 15px;
}

.content {
    padding-top: 60px;
}

.heading {
    max-width: 100%;
    height: auto;
    text-align: center;
}

.heading-text {
    padding-top: 20px;
    font-family: 'Lora', sans-serif;
    text-transform: uppercase;
    color:black;
}

.wrapper-loc,
.wrapper {
    margin-left: 50px;
    margin-right: 50px;
}

.places {
    margin-top: 1rem;
    border: 2px solid #D5283F;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 25px;
}

.place-top-bg {
    position: relative;
    height: 70px;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

.place-header {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
}

.place-text {
    font-size: 0.8rem;
    padding: 5px 10px;
    margin-left: 10px;
    margin-bottom: 0;
    font-family: "Lora", sans-serif;
}

.place-text i {
    font-size: 14px;
    color: black;
}

.fa-envelope:before {
    margin-right: 10px;
}
.fa-map-marker-alt:before {
    margin-right: 10px;
}
.fa-coffee:before {
    margin-right: 10px;
}

/* Locations Buttons */

.contact-details {
    color: black;
    font-weight: 600;
    display: inline-block;
    text-transform: uppercase;
}

.contact-details:hover,
.contact-details:focus {
    color: #7287B9;
    transition: all 0.2s ease-in;
}

.location-button {
    display: block;
    padding: 0.35em 1.2em;
    text-decoration: none;
    color:white;
    border: solid 1px #001F7E;
    font-weight: 400;
    margin: 10px auto;
    background-color: var(--h1-color);
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Lora", sans-serif;
}

.location-button:hover {
    color: white;
    background-color:#7287B9;
    text-decoration: none;
}

button:focus {
    outline: none;
    color: white;
}

/* Map */

#map {
    border-color: #f8f9fa;
    border: width 5rem; ;
    width: 100%;;
    height: 500px;
}

/*--------------------------------- TOUR PAGE QUERIES -----------------------------*/

/* Mobile Devices */

@media screen and (max-width: 600px){
    #tour-page {
        margin: 0;
        padding: 15px;
        width: 100%;
    }
    .places {
        margin-right: 1.5rem;
    margin: 1rem;
    padding: 10px;
    height: 95%;
    position: relative;
    }
}

/*--------------------------------- TICKETS TYPE -----------------------------*/

#tour-type {
    background-color: var(--main-bg);
    margin-bottom: 25px;
    padding: 25px;
}
.ticket-type {
    margin: 10px;
    padding: 15px;
    border: #777777 solid 2px;
    height: 90%;
    text-align: center;
    
}
.ticket-type p {
    font-size: 0.8rem;
    line-height: 20px;
}
/*--------------------------------- CONTACT -----------------------------*/

#contact {
    background-image: url(assets,img/londoneye-bg.jpg)no-repeat fixed;;
    margin-top: 5rem;

}

.btn {
    background-color:var(--h1-color);
    border-color: var(--h1-color)
}
/*--------------------------------- FOOTER -----------------------------*/

footer {
    padding: .10rem;
    background-color:#7287B9;
    color: rgb(20, 19, 19);
    font-family: 'Lora', sans-serif;
    min-height: 90px;
}
h5 {
    margin-top: 1.8rem;
    margin-left: 5px;
    font-size: 1rem;
}

#social-links i {
    font-size: 1.5em;
    color:var(--h1-color);
}

small {
    text-align: center;
    font-size: 0.6rem;
}

